# =============== #
# Unity generated #
# =============== #
ElementalShooter/Temp/
ElementalShooter/Library/
ElementalShooter/Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
ElementalShooter/*.csproj
*.pidb
*.suo
*.sln
*.sln.hide
*.user
*.unityproj
*.booproj
.vs
