# =============== #
# Unity generated #
# =============== #
DiceHeroes/Temp/
DiceHeroes/Library/
DiceHeroes/Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
DiceHeroes/*.csproj
*.pidb
*.suo
*.sln
*.sln.hide
*.user
*.unityproj
*.booproj
.vs
